/***** FOOTER ******/
footer {
    font-family: "Notosan", sans-serif;
    background-color: #747474;
    width: 100%;
    height: 180px;
    padding-top: 10px;
    color: #fff;
}

.aside-list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
    padding-left: 20px;
}

.author-inform {
    line-height: 2em;
}

.author-inform-row {
    display: flex;
}

.author-inform-row ul > li {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
}

.author-copyright {
    display: block;
    text-align: center;
}