/***** Community ******/
body { /* set image on background */
  background-image: url(../../img/background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

/* change Community-head css */
.Community-head { 
  z-index:2;
  font-family: "Gugi", sans-serif;
  margin-top: 0px;
  padding: 10px;
  margin-bottom: 30px;
  color: black;
  background-color: mediumaquamarine;
  border-radius: 0px 0px 15px 15px;
  opacity: 0.90;
}

.col-style { /* move value to col-style-content */
  position: relative;
  display: inline-block;
  width: 45%;
  height: 80px;
  padding-top: 0px;
}

.col-image {
  width:98%;
  height:250px;
  border: 3px outset #5050ff;
  margin-top: 10px;
}

.col-style.view {
  width: 20%;
  height: 20%;
  margin: auto;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display:flex;
}

.col-style-column {
  flex: 1;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
}

.col-style-content {
  font-family: "Gugi", sans-serif;
  background-color: mediumaquamarine;
  font-size: 40px;
  text-align: center;
  border: 7px outset #5050ff;
  width:auto;
  border-radius: 20px 5px 20px 5px;
  margin-right: auto;
  flex: 1;
}

.col-style-corona {
  font-family: "Gugi", sans-serif;
  background-color: orange;
  font-size: 40px;
  text-align: center;
  border: 5px double yellow;
  width:auto;
  border-radius: 5px 5px 5px 5px;
  flex: 1;
}

.col-style-alram {
  font-family: "Gugi", sans-serif;
  background-color: bisque;
  font-size: 40px;
  text-align: center;
  border: 5px solid green;
  width:auto;
  border-radius: 5px 5px 5px 5px;
  flex: 1;
}

.col-content { /* create new css for abstract content */
  /* float: left; */
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  align-content: center;
  border: inset black;
  background-color: white;
  opacity: 0.9;
  width: 44%;
  height: 160px;

}

.col-content-bottom { /* create new css for abstract content */
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 30px 30px 30px 30px;
  padding: 10px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 10px;
  align-content: center;
  border: inset white;
  background-color: white;
  width: 40%;
  height: 120px;

}


.round {
  border-radius: 10%;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}
