/***** Community ******/

.Community-head {
  margin-bottom: 30px;
}

.col-style {
  font-family: 'Gugi', sans-serif;
  position: relative;
  border: 7px inset #50f3ff;
  display: inline-block;
  width: 20%;
  height: 60px;
  margin: 20px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 150px;
  margin-right: 150px;
  margin-left: 50px;
  border-radius: 5px 40px 5px 40px;
}

.col-image {
  width:98%;
  height:250px;
  border: 3px solid #5050ff;
  margin-top: 10px;
}

.col-style.view {
  width: 20%;
  height: 20%;
  margin: auto;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  display:flex;
}

.col-style-column {
  flex: 1;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
}

.col-style-content {
  border: outset rgb(111, 228, 243);
  margin: 5px 0;
  flex: 1;
  border-radius: 5px 20px 5px 20px;
}

.col-style-test {
  font-family: 'Gugi', sans-serif;
  position: relative;
  border: 7px outset #f03d55;
  display: inline-block;
  width: 30%;
  height: 60px;
  margin: 20px;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 120px;
  margin-left: 50px;
  margin-right: 70px;
  border-radius: 0px 10px 0px 10px;
}

.round {
  border-radius: 10%;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}
