{% set title = "자유 게시판" %}
{% set subtitle = "자유게시판" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        {% for post in post %}
        <tr>
            <td>
                <a href="/admin/free_write/detail/{{  post.id }}">{{ post.title }}</a>
            </td>
            <td>
                {{ post.dateFormat( post.createdAt ) }}
            </td>
            <td>
                <a href="/admin/free_write/delete/{{ post.id }}" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/free_write/write" class="btn btn-default" style="margin-right: 10px;">작성하기</a><br><br>

{% endblock %}