<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판</title>
    <link rel="stylesheet" href="../css/font-set.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/exp-content.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="header_box">
            <div class="profile-title">
                <h1 class="name-title h1"><a href="../index.html" class="side-rm-text-dec">College Community</a></h1>
            </div>
            <div class="dropdown">
                <li><a href="../index.html" class="link-ul">Home</a></li>
                <li><a href="../index.html" class="link-ul">계정관리</a></li>
                <li>
                    <div>커뮤니티</div>
                    <ul>
                        <li><a href="" class="link-ul">자유 게시판</li></a>
                        <li><a href="" class="link-ul">홍보 게시판</a></li>
                        <li><a href="" class="link-ul">질문 게시판</a></li>
                        <li><a href="" class="link-ul">각종 팁</a></li>
                    </ul>
                </li>
                <li><a href="" class="link-ul">위치 찾기</a></li>
            </div>
        </header> 

        <div class="display-set-flex">
            <aside class="sidebar">
                <h1 id="FIRST" class="sidebar-text">자유게시판</h1>
            </aside>
            <main class="sidebar-main sidebar-main-text">
                <p class="indent lined-text main-divide">
                    
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>삭제</th>
                        </tr>
                        {% for posts in posts %}
                        <tr>
                            <td>
                                <a href="/admin/free_write/detail/{{  post.id }}">{{ post.title }}</a>
                            </td>
                            <td>
                                {{ post.dateFormat( post.createdAt ) }}
                            </td>
                            <td>
                                <a href="/admin/free_write/delete/{{ post.id }}" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                
                    <a href="/admin/free_write/write" class="btn btn-default">작성하기</a>

                </p>
            </main>
        </div>

        <footer>
            <div class="aside-list">
                <div class="author-inform">
                    <div class="author-inform-row">
                        <span class="bold-text">문의사항</span>
                        <ul>
                            <li>pshgjh@gmail.com</li>
                            <li>github.com/psh179/college-community-project</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="author-copyright bold-text">@ 2020 Soongsil University WebProj</p>
        </footer>

    </div>
    
</body>
</html> -->

{% set title = "자유 게시판" %}
{% set subtitle = "자유게시판" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>
                <a href="/admin/free_write/detail/{{  post.id }}">{{ post.title }}</a>
            </td>
            <td>
                {{ post.dateFormat( post.createdAt ) }}
            </td>
            <td>
                <a href="/admin/free_write/delete/{{ post.id }}" class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/free_write/write" class="btn btn-default">작성하기</a>

{% endblock %}