<header class="header_box">
    <div class="profile-title">
        <h1 class="name-title h1"><a href="../index.html" class="side-rm-text-dec">College Community</a></h1>
    </div>
    <div class="dropdown">
        <li><a href="../index.html" class="link-ul">Home</a></li>
        <li><a href="../index.html" class="link-ul">계정관리</a></li>
        <li>
            <div>커뮤니티</div>
            <ul>
                <li><a href="" class="link-ul">자유 게시판</li></a>
                <li><a href="" class="link-ul">홍보 게시판</a></li>
                <li><a href="" class="link-ul">질문 게시판</a></li>
                <li><a href="" class="link-ul">각종 팁</a></li>
            </ul>
        </li>
        <li><a href="" class="link-ul">위치 찾기</a></li>
    </div>
</header> 