<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Proj</title>
    <link rel="stylesheet" href="css/font-set.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/exp-content.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-private">
        <header class="header_box">
            <div class="profile-title">
                <h1 class="name-title h1"><a href="index.html" class="side-rm-text-dec">College Community</a></h1>
            </div>
            <div class="dropdown">
                <li><a href="index.html" class="link-ul">Home</a></li>
                <li><a href="/admin/shipping" class="link-ul">택배 추적</a></li>
                <li>
                    <div>커뮤니티</div>
                    <ul>
                        <li><a href="/admin/free_write" class="link-ul">자유 게시판</li></a>
                        <li><a href="/admin/adv" class="link-ul">홍보 게시판</a></li>
                        <li><a href="/admin/que" class="link-ul">질문 게시판</a></li>
                        <li><a href="/admin/tip" class="link-ul">각종 팁</a></li>
                    </ul>
                </li>
            </div>
        </header>

        <main>
            <h2 class="Community-head">Community</h2>
            <div class="col-style">
                <div class="col-style-column">
                    <!-- 코로나 현황 -->
                    <div class="col-style-corona"><a href="/admin/covid" class="main-rm-text-dec">코로나 현황</a></div>
                </div>
            </div>
            <div class="col-style">
                <div class="col-style-column">      
                    <!-- a href 에 링크 수정이 필요합니다. 택배 크롤링 -->
                    <div class="col-style-alram"><a href="/admin/shipping" class="main-rm-text-dec">택배 추적</a></div>
                </div>
            </div>
            <div class="col-content-bottom" style="text-align: center">
                <h2>현재 코로나 상황 확인</h2>
            </div>
            <div class="col-content-bottom" style="text-align: center"><h2>CJ 대한통운 택배 추적 시스템</h2></div><br><br><br>
            <div class="col-style">
                <div class="col-style-column">
                    <div class="col-style-content"><a href="/admin/free_write" class="main-rm-text-dec">자유 게시판</a></div>
                </div>
            </div>
            <div class="col-style">
                <div class="col-style-column">
                    <div class="col-style-content"><a href="/admin/adv" class="main-rm-text-dec">홍보 게시판</a></div>
                </div>
            </div><br><br><br><br>
            <div class="col-style">
                <div class="col-style-column">
                    <div class="col-style-content"><a href="/admin/que" class="main-rm-text-dec">질문 게시판</a></div>
                </div>
            </div>
            <div class="col-style">
                <div class="col-style-column">
                    <div class="col-style-content"><a href="/admin/tip" class="main-rm-text-dec">각종 팁</a></div>
                </div>
            </div>
            <p class="main-divide"></p>
        </main>

        <footer>
            <div class="aside-list">
                <div class="author-inform">
                    <div class="author-inform-row">
                        <span class="bold-text">문의사항</span>
                        <ul>
                            <li>pshgjh@gmail.com</li>
                            <li>github.com/psh179/college-community-project</li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="author-copyright bold-text">@ 2020 Soongsil University WebProj</p>
        </footer>

    </div>
</body>
</html>