{% set title = "택배 배송조회" %}
{% set subtitle = "CJ대한통운<br>배송조회" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>CJ대한통운 송장번호를 입력해주세요</th>
            </tr>
            <tr>
                <th>송장번호</th>
                <td><input type="text" name="shipping" class="form-control" value="{{ shipping.number }}"/></td>
            </tr>
        </table>
        <button class="btn btn-primary" style="margin-right: 10px;">송장번호 전송</button><br><br>
    </form>

{% endblock %}