{% set title = "팁 게시판 게시글 작성하기" %}
{% set subtitle = "팁 게시글<br>작성하기" %}
{% extends "layout/base.html" %}
 
{% block content -%}
    <form action="" method="post">
        <table class="table table-bordered">
            <tr>
                <th>제목</th>
                <td><input type="text" name="title" class="form-control" value="{{ post.title }}"/></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><input type="text" name="description" class="form-control" value="{{ post.description }}"/></td>
            </tr>
        </table>
        <button class="btn btn-primary" style="margin-right: 10px;">작성하기</button><br><br> <!--수정창의 작성하기 버튼-->
    </form>

{% endblock %}